.form {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  box-sizing: border-box;
}

input[name='delay'] {
  width: 300px;
  height: 30px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
}

fieldset {
  width: 310px;
  height: 60px;
  display: flex;
  gap: 20px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  justify-content: center;
  box-sizing: border-box;
}

.form button {
  width: 310px;
}
